@import url('http://fonts.cdnfonts.com/css/gotham');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    list-style: none;
    color: #171a20;
font-family: 'Gotham', sans-serif;  
}

/* Logo */

.logo{
    text-decoration: none;
    font-size: 1.5rem;
}

/* Menu Central */

.center a{
    border-radius: .7rem;
    transition: all .2s ease-in;
    padding: 8px 13px;
}


.center a:hover{
    background-color: rgba(252, 252, 252, 0.24);    
}

/* Botao Menu direita */

.menuBtn{
    border-radius: .7rem;
    transition: all .3s ease;
}

.menuBtn:hover{
    background-color: rgba(252, 252, 252, 0.384);    
}

/* Header */

header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


header a{
    color: inherit;
}

header nav a{
    text-decoration: none;
    padding: 5px 10px;
}

header nav.center{
    text-align: center;
}

header nav.right{
    text-align: right;
}

.desktop{
    display: none;
}

/* Backdrop (Blur)*/

.backdrop{
    display: none; 
    position: fixed ;
    inset: 0;
    background-color: rgba(0, 0, 0, .35);
    backdrop-filter: blur(5px);    
}

.backdrop.active{
    display: block;    
}

/* Sidebar */

aside{
    position: fixed;
    right: -20.3rem;
    width: 20.3rem;
    height: 100vh;
    z-index: 4;
    background-color: white;
    padding: 4rem 2rem;
    transition: right .5s ease;
}

aside.active{
    right: 0;
}

aside a{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: .5rem .7rem;
    font-weight: 400;
    margin-top: .5rem;
    border-radius: .7rem;
    transition: all .4s ease;
}

aside a:hover{
    background-color: #eee;
}

aside button.close{
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: .8rem;
    right: 1rem;
    padding: 1rem;
    cursor: pointer;
}


/* Sections cars */


section{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

section .content{
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh ;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

section h1{
    font-size: 3rem;
}

section a{
    color: inherit;
}

section .buttons a{
    display: block;
    background-color: #eee;
    color: inherit;
    padding: 14px 70px;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

section .buttons{
    display: grid;
    row-gap: 20px;
    margin: 0 40px;
}



section .buttons a:first-child{
    background-color: #444;
    color: #fff;
}

  

@media (min-width: 768px) {

    /* sections */

    section .buttons{
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap:  20px;

    }


    
}


@media (min-width: 1200px) {
    .desktop{
        display: initial;
    }


}

